body {
  font-family: 'Oxygen', sans-serif !important;
  font-size: 16px ;
  color: #606060;
}

header {
  margin: 0 20px 20px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding:20px;
  background-image: url(images/allVeggies.jpg);
  background-size:
}

.game-title{
  color: white;
}

.btn{
  margin-bottom: 15px;
}

.game-title{
  padding-left: 15px;
}

.question{
  font-size: 24px;
}

.start-button{
  margin-bottom: 20px;
  width: 150px;
  display: block;
  margin-top: 40px;
}

.instructions {
  padding: 40px 60px 40px 60px;
  background-color: #FEFE84;
}

.container{
  position:relative;
}

.game-details{
  padding: 10px 20px 10px 20px;
}

.foodGamePlayground{
  position:relative;
}

.answer{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(254, 254, 132, 0.5);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}


.gameOver{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}

.score {
  text-align: right;
}

.seasons img{
  width: 90px;
}

#vegetableImage{
  height: 180px;
}

.seasonsOptions, .foodGameContent{
  text-align: center;
}

footer{
  text-align: center;
  padding: 50px;
}
