body {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px ;
  color: #606060;
}

header {
  margin: 0 20px 20px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-:20px;
  background-image: src="images/allVegies.jpg";
}

.btn{
  margin-bottom: 15px;
}

.game-title{
  padding-left: 15px;
}

.start-button{
  margin-bottom: 20px;
  width: 150px;
  display: block;
  margin: auto;
}

.instructions {
  padding: 15px;
  background-color: #FEFE84;
}

.container{
  position:relative;
}

.game-details{
  padding: 10px 20px 10px 20px;
}

.foodGamePlayground{
  position:relative;
}

.answer{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(254, 254, 132, 0.5);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}

.score {
  text-align: right;
}

.seasons img{
  width: 90px;
}

#vegetableImage{
  height: 200px;
}

.seasonsOptions, .foodGameContent{
  text-align: center;
}

footer{
  text-align: center;
}
