body {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px ;
  color: #606060;
}

header {
  margin: 0 20px 20px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-:20px;
  background-image: src="images/allVegies.jpg";
}

.btn{
  margin-bottom: 15px;
}

.game-title{
  padding-left: 15px;
}

.start-button{
  margin-bottom: 20px;
}

.instructions {
  padding-top: 10px;
  padding-left: 15px;
  background-color: #FEFE84;
}

.game-details{
  padding: 10px 20px 10px 20px;
}

.score {
  text-align: right;
}

.seasons img{
  width: 90px;
}

#vegetableImage{
  height: 200px;
}

.seasonsOptions, .foodGameContent{
  text-align: center;
}

footer{
  text-align: center;
}
